html {
	height: 100%;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

button {
	background-color: transparent;
	outline: none;
	border: none;
}

input,textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}